.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBarTitle {
  margin: 10px;
  padding: 7px;
  /* width: 85%; */
  border-bottom: 1px solid #a7a4a4;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 20px;
  text-align: center;
}

.sidebarItem > img {
  margin-top: 15px;
  border-radius: 7px;
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.sidebarItem > p {
  padding: 30px;
}

.sideBarList {
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.sideBarListItem {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-style: italic;
  margin-top: 15px;
}

.sidebarSocial {
  margin-top: 10px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
